@{
    ViewBag.Title = "Kayıt Ol";
}

<script src="~/js/jquery-mask.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#txtCARDNO").mask("9999-9999-9999-9999");
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Giriş Yapın</div>
    <div class="panel-body">
        @if (Convert.ToBoolean(Session["useraddsuccess"]) == true)
        {
            Session["useraddsuccess"] = false;
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">İnfo:</span>
                Kayıt Edildi.
            </div>
        }
        @*else { 
            Session["useraddsuccess"] = false;
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">Error:</span>
                
                Eksik veri girişi! Tüm Alanları Doldurunuz.
            </div>
        };*@
        <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/Account/UserAdd" style="width: 50%;margin: 0 auto;">
            <hr class="colorgraph">
            <div class="form-group">
                <label for="fulname" class="col-sm-4 control-label">Adınız :</label>
                <input class="form-control col-xs-12" name="txtFULNM" required="" autofocus="" placeholder="Ad-Soyad" />
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Kullanıcı Adı :</label>
                <input class="form-control col-xs-12" name="txtUSRNM" required="" placeholder="Kullanıcı adı" value="@Request.Form["username"]" />
            </div>
            <div class="form-group">
                <label for="EMAIL" class="col-sm-4 control-label">E-mail :</label>
                <input class="form-control col-xs-12" name="txtEMAIL" required="" placeholder="E-mail" />
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Parola :</label>
                <input class="form-control" name="txtPWD" type="password" required="" placeholder="Parola" />
            </div>
            <div class="form-group">
                <label for="CARDNO" class="col-sm-4 control-label">Kart No :</label>
                <input class="form-control" id="txtCARDNO" name="txtCARDNO" maxlength="16" required="" placeholder="Kart No" />
            </div>
            <div class="form-group">
                <label for="CVC" class="col-sm-4 control-label">CVC :</label>
                <input class="form-control" name="txtCVC" maxlength="3" required="" placeholder="CVC" />
            </div>
            <div class="form-group">
                <label for="STKDAY" class="col-sm-4 control-label">Son Kullanma Tarihi :</label>
                <input class="form-control" name="txtSTKDAY" maxlength="2" required="" placeholder="Gün" />
            </div>
            <div class="form-group">
                <label for="STKMONTH" class="col-sm-4 control-label">Son Kullanma Tarihi :</label>
                <input class="form-control" name="txtSTKMONTH" maxlength="2" required="" placeholder="Ay" />
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Profil :</label>
                <input type="file" id="file" required="" name="file" />
            </div>
            <hr class="colorgraph">
            <button class="btn btn-success col-sm-offset-4">Kayıt Ol</button>
        </form>

        @*@Html.Partial("Counter")*@
    </div>
</div>

