
@{
    ViewBag.Title = "Kategori Güncelle";
}

<h2>Kategori Güncelle</h2>

@if (Convert.ToBoolean(Session["IS_SYSADM"]))
{
<div class="row">
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (var filmTyp in ViewBag.FilmTypList)
            {
                count++;
                <tr>
                    <form class="form-horizontal" method="post" action="/Film/CategoryUpdateSelect">
                        <th style="text-align: center; line-height: 50px;">@count</th>
                        <td style="text-align: center; line-height: 50px;">@filmTyp.FILMTYPNM</td>
                        <td style="text-align: center; line-height: 50px;"><button id="@filmTyp.ID" class="btn btn-primary col-sm-offset-4" style="margin: 0;" name="btnCategory" value="@filmTyp.ID"><i class="fa fa-refresh" aria-hidden="true"></i> Seç</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>
    }
else {
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="sr-only">Error:</span>
    Yetkiniz Yok.
</div>
}