@{
    ViewBag.Title = "Kategori Ekle";
}

<div class="panel panel-default">
    <div class="panel-heading">Kategori Ekle</div>
    <div class="panel-body">
        @if (Convert.ToBoolean(Session["filmtypaddsuccess"]) == true)
        {
            Session["filmtypaddsuccess"] = false;
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">İnfo:</span>
                Kayıt Edildi.
            </div>
        }
        @*else
        {
            Session["filmtypaddsuccess"] = false;
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">Error:</span>
                Eksik veri girişi! Tüm Alanları Doldurunuz.
            </div>
        };*@
        <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/Film/FilmTypAdd" style="width: 50%;margin: 0 auto;">
            <hr class="colorgraph">
            <div class="form-group">
                <label for="fulname" class="col-sm-4 control-label">Kategori :</label>
                <input class="form-control col-xs-12" name="txtFILMTYPNM" required="" autofocus="" placeholder="Kategori" />
            </div>
            <hr class="colorgraph">
            <button class="btn btn-success col-sm-offset-4">Kategori Ekle</button>
        </form>

        @*@Html.Partial("Counter")*@
    </div>
</div>
