
@{
    ViewBag.Title = "Salon Güncelle";
}

<h2>Salon Güncelle</h2>

<div class="row">
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hall in ViewBag.HallList)
            {
                <tr>
                    <form class="form-horizontal" method="post" action="/Film/HallUpdateSelect">
                        <th style="text-align: center; line-height: 50px;" scope="row">1</th>
                        <td style="text-align: center; line-height: 50px;">@hall.HALLNM</td>
                        <td style="text-align: center; line-height: 50px;"><button id="@hall.ID" cl class="btn btn-primary col-sm-offset-4" style="margin: 0;" name="btnHallID" value="@hall.ID"><i class="fa fa-refresh" aria-hidden="true"></i> Seç</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>