<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!--Server=myServerName\myInstanceName;Database=myDataBase;User Id=myUsername;Password=myPassword;-->
    <add key="LocalServer" value="SAMETSH\SAMETSH" />
    <add key="Database" value="CINEMA" />
    <add key="SecurityOn" value="0" />
    <!--Server Bağlantısı İçin-->
    <add key="Server" value="" />
    <add key="User Id" value="" />
    <add key="Password" value="" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="ClientValidationEnabled" value="true" />
    <add key="owin:AppStartup" value="[AssemblyName].Startup, [AssemblyName]" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
